---
name: Draft Release

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  update-release-draft:
    name: Update
    runs-on: ubuntu-latest

    steps:
      - name: Run release drafter
        uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
